.parallax {
  
  background-image: url("Background1.png");

  
  min-height: 100vh;
  min-width: 100vw;


  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.65; */
}
