.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1;
  padding-bottom: 40px; /* Add padding at the bottom */
}

.hero-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero-container h1 {
  color: #fff;
  font-size: 4rem;
  text-align: center;
}

.hero-container p {
  margin-top: 8px;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
}

.hero-btns {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container .btns {
  border-radius: 4px;
  background: none;
  white-space: nowrap;
  padding: 10px 22px;
  color: #d12020;
  font-size: 20px;
  outline: none;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-decoration: none; /* Ensure the text-decoration is none for anchor buttons */
}

.hero-container .btns:hover {
  background: #fff;
  color: #242424;
  transition: 250ms;
}

.hero-container .btn--outline {
  border: 2px solid #fff;
}

.hero-container .btn--large {
  padding: 12px 64px;
  font-size: 20px;
}
